@{
    ViewData["Title"] = "Home Page";
}
<br />
<div class="text-center">
    <h1 class="display-4">Olá</h1> 
    <p>Esse projeto foi desenvolvido como teste de conhecimentos e conceitos.</p>
    <p>Algumas das tecnologias utilizadas aqui foram: .Net Core, Entity Framework, DDD e Docker.</p>
    <p>O código fonte está disponível <a href="https://github.com/kamillasthefany/Locadora" target="_blank">aqui</a>.</p>
</div>
