@{
    ViewData["Title"] = "Privacy Policy";
}
<main class="container">
    <div class="row">
        <div class="col-md-3 m-4">
            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static" style="align-items: center;">
                    <img src="@Url.Action("ObterCapa", "Filme", new { id = 3 })" width="150" height="200" />
                </div>
                <div class="col p-4 d-flex flex-column position-static" style="align-items: center;">
                    <strong class="d-inline-block mb-2 text-primary">CLUBE DA LUTA</strong>
                    <p class="card-text mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
                </div>
                <div class="col p-4 d-flex flex-row position-static" style="align-items: center;">
                    <button type="button" class="btn btn-outline-secondary btn-sm m-1">Detalhes</button>
                    <button type="button" class="btn btn-outline-primary btn-sm m-1">Editar</button>
                    <button type="button" class="btn btn-outline-danger btn-sm m-1">Deletar</button>
                </div>
            </div>
        </div>
        <div class="col-md-3 m-4">
            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static" style="align-items: center;">
                    <img src="@Url.Action("ObterCapa", "Filme", new { id = 3 })" width="150" height="200" />
                </div>
                <div class="col p-4 d-flex flex-column position-static" style="align-items: center;">
                    <strong class="d-inline-block mb-2 text-primary">CLUBE DA LUTA</strong>
                    <p class="card-text mb-auto"> to additional content.</p>
                </div>
                <div class="col p-4 d-flex flex-row position-static" style="align-items: center;">
                    <button type="button" class="btn btn-outline-secondary btn-sm m-1">Detalhes</button>
                    <button type="button" class="btn btn-outline-primary btn-sm m-1">Editar</button>
                    <button type="button" class="btn btn-outline-danger btn-sm m-1">Deletar</button>
                </div>
            </div>
        </div>
        <div class="col-md-3 m-4">
            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static" style="align-items: center;">
                    <img src="@Url.Action("ObterCapa", "Filme", new { id = 3 })" width="150" height="200" />
                </div>
                <div class="col p-4 d-flex flex-column position-static" style="align-items: center;">
                    <strong class="d-inline-block mb-2 text-primary">CLUBE DA LUTA</strong>
                    <p class="card-text mb-auto"> to additional content.</p>
                </div>
                <div class="col p-4 d-flex flex-row position-static" style="align-items: center;">
                    <button type="button" class="btn btn-outline-secondary btn-sm m-1">Detalhes</button>
                    <button type="button" class="btn btn-outline-primary btn-sm m-1">Editar</button>
                    <button type="button" class="btn btn-outline-danger btn-sm m-1">Deletar</button>
                </div>
            </div>
        </div>
        <div class="col-md-3 m-4">
            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static" style="align-items: center;">
                    <img src="@Url.Action("ObterCapa", "Filme", new { id = 3 })" width="150" height="200" />
                </div>
                <div class="col p-4 d-flex flex-column position-static" style="align-items: center;">
                    <strong class="d-inline-block mb-2 text-primary">CLUBE DA LUTA</strong>
                    <p class="card-text mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
                </div>
                <div class="col p-4 d-flex flex-row position-static" style="align-items: center;">
                    <button type="button" class="btn btn-outline-secondary btn-sm m-1">Detalhes</button>
                    <button type="button" class="btn btn-outline-primary btn-sm m-1">Editar</button>
                    <button type="button" class="btn btn-outline-danger btn-sm m-1">Deletar</button>
                </div>
            </div>
        </div>
    </div>
</main>